export(AIC_HMM)
export(Baum_Welch_algorithm)
export(BIC_HMM)
export(cut_off_point_method)
export(dgenpois)
export(direct_numerical_maximization)
export(forward_backward_algorithm)
export(HMM_based_method)
export(HMM_decoding)
export(HMM_simulation)
export(HMM_training)
export(initial_parameter_training)
export(local_decoding_algorithm)
export(pgenpois)
export(rgenpois)
export(Viterbi_algorithm)
importFrom("graphics", "abline", "barplot", "legend", "lines", "par","plot", "points")
importFrom("stats", "dgeom", "dnorm", "dpois", "nlm", "pnorm","quantile", "rgeom", "rnorm", "rpois", "runif", "sd")